/* Specificity Overrides */
.top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover { background: #36B66E; }


/* Common */
.content {
    margin-top: 25px;
}

.grid-spacer {
    margin: 0 5px;
}


/* Navbar */
.top-bar-section .contact-info li {
    background: #36B66E;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 0.825rem;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
}


/* About Me */
.profile-pic {
    border-radius: 150px;
    height: 300px;
    margin: 20px 0 30px 0;
    width: 300px;
}

.qualifications-header {
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
}

.qualifications-list li {
    margin: 5px 0;
}

/* Skills */
.panel {
    margin-top: 10px;
}

.skill-list {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.skill-list .skill-name {
    color: #1e1e1e;
    margin-bottom: 5px;
}

.skill-list .progress {
    border-color: #ccc;
}

.skill-list .meter {
    background-color: #569ABB;
}

.skill-list .skill-levels {
    color: #4e4e4e;
    font-size: .8rem;
}


/* Education & Employment */
.job-information .company {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.job-information .position, .job-information .location, .job-information .time {
    color: #4e4e4e;
    font-size: .9rem;
    margin-bottom: 2px;
}

.job-responsibilities {
    margin-top: 10px;
}

.education p {
    margin: 2px 0;
}

.education .degree-info {
    font-size: 1.1rem;
}

.education .school, .education .location {
    color: #4e4e4e;
    font-size: .9rem;
}

.education .location {
    margin-bottom: 30px;
}


/* Interests */
[class*="column"]+[class*="column"]:last-child {
    float: left;
}

.interests-header {
    margin-bottom: 20px;
}

.family-pic {
    border-radius: 20px;
    margin-top: 10px;
}

.books {
    margin-top: 25px;
}

.books h3 {
    border-bottom: 1px solid #ccc;
}

.book {
    height: 350px;
}

.book-title {
    color: #1e1e1e;
    font-size: 1.1rem;
    margin-bottom: -5px;
}

.book-author {
    color: #4e4e4e;
    font-size: .9rem;
    margin-bottom: 10px;
}

.book-image {
    display: block;
    height: 200px;
}

.book-link {
    display: block;
    margin-top: 10px;
}

